[submodule "msquic"]
	path = msquic
	url = https://github.com/microsoft/msquic
[submodule "allwpilib"]
	path = allwpilib
	url = https://github.com/wpilibsuite/allwpilib
[submodule "submodules/c11threads"]
	path = submodules/c11threads
	url = https://github.com/jtsiomb/c11threads
